.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text {
    font-size: 14px;
    font-weight: 400;
}

.packName {
    font-weight: bold;
}

.btnGroup {
    display: flex;
    justify-content: space-between;
}