.label_style {
    margin-right: 15px;
    line-height: 32px;
}

.content_style {
    display: flex;
    padding: 25px 0 20px 45%;
}

.input_style {

    border-radius: 50%;
    width: 16px;
    height: 16px;

    border: 2px solid #999;
    transition: 0.2s all linear;
    outline: none;
    margin-right: 5px;

    position: relative;
    top: 4px;
}
